@charset "UTF-8";


/* CSS Document */
/* Code by Carlos Mazoca, Geoscientist and Jack of all trades */


/*
Our green:#004221
Our gold:#996600
Our red: #900
*/

html,
body {
    font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
    font-size: 100%;
    line-height: 1.125em;
    /* 16×1.125=18 <- This is here to help the conversion from pixel to em*/
}

a {
    text-decoration: none;
}

#wrapper {
    /*    position: absolute;*/
    /*    max-width: 75em;*/
    top: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    position: absolute;
    left: 17.5em;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow: hidden;
/*    z-index: 1;*/
}


/*I'm having some serious issues regarding elasticity/fluidity of the elements in the sidebar. HAVE TO FIX IT.*/

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 17.5em;
    padding: 0;
    overflow: hidden;
    opacity: 0.8;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAN0lEQVQoU2P88OHDfwEBAUYGHAAkD5bEpRAmDjcBXSEyH8UamAS6Bgy3YLOaNJMIuomg74gJJwD/DUOoKcg2JQAAAABJRU5ErkJggg==
) repeat;
    /*O plano de fundo do tipo diagonal check pode ser feito também com svg inline, também não será preciso chamar uma imagem.*/
    z-index: 5;
}

@media (min-device-width: 1025px) and (max-device-width: 1600px) {
    #header {
        position: relative;
        top: 0.5%;
        left: 10%;
        max-width: 65%;
        height: 15vh;
        border-top: 6px #004221 solid;
        border-bottom: 3px #004221 solid;
/*        z-index: 10;*/
    }
    .headertitle {
        position: absolute;
        top: 10%;
        color: black;
        font-weight: bold;
        font-size: 150%;
        letter-spacing: 0.0625em;
        font-family: "Trajan Pro", "Verdana", "Geneva", sans-serif;
    }
    .headersubtitle {
        position: absolute;
        top: 33%;
        left: 10%;
        color: black;
        font-weight: bold;
        font-size: 120%;
        letter-spacing: 0.0625em;
        font-family: "Trajan Pro", "Verdana", "Geneva", sans-serif;
    }
    .headerdesc {
        position: absolute;
        bottom: 5%;
        color: #996600;
        font-weight: bold;
        font-size: 72%;
        font-family: "Helvetica", "Verdana", "Geneva", sans-serif;
    }
    .headertitle:hover,
    .headersubtitle:hover,
    .headerdesc:hover {
        text-shadow: 0 0 0.9em #cccccc;
    }
    /*
--------------------------------------------------------------------------
The main part of the sidebar. Where selections by the user are made.
--------------------------------------------------------------------------
*/
    /*Probably I'll have to divide this part*/
    #databox {
        position: relative;
        display: block;
        top: 2.1em;
        left: 0;
        width: 100%;
/*        z-index: 10;*/
    }
    #databox_upper {
        position: relative;
        left: 0;
        width: 100%;
/*        z-index: 15;*/
    }
    #databox_bottom {
        position: relative;
        top: -0.5em;
        left: 0;
        width: 100%;
/*        z-index: 15;*/
    }
    .title {
        position: relative;
        text-align: left;
        font-weight: bold;
        color: black;
        font-size: 90%;
        font-family: "Helvetica", "Verdana", "Geneva", sans-serif;
        letter-spacing: 0.0625em;
        line-height: 250%;
        top: 0;
        left: 10%;
        text-shadow: 0 0 10px #b4b4b4;
        z-index: 20;
    }
    .references {
        position: relative;
        font-size: 70%;
        top: 4%;
        padding-right: 3%;
        text-align: right;
        color: rgb(85, 85, 85);
        z-index: 30;
    }
    .references:hover {
        color: #996600;
    }
}

@media (min-device-width: 1601px) {
    #header {
        position: relative;
        top: 2%;
        left: 10%;
        max-width: 65%;
        /*    height: 15%;*/
        height: 15vh;
        border-top: 6px #004221 solid;
        border-bottom: 3px #004221 solid;
/*        z-index: 10;*/
    }
    .headertitle {
        position: absolute;
        top: 10%;
        /*    max-width: 100%;*/
        color: black;
        font-weight: bold;
        /*    font-size: 1.8em;*/
        /*    font-size: 3vh;*/
        font-size: 150%;
        letter-spacing: 0.0625em;
        font-family: "Trajan Pro", "Verdana", "Geneva", sans-serif;
        /*    text-shadow: 0 0 0.9em rgb(120, 120, 120);*/
    }
    .headersubtitle {
        position: absolute;
        top: 33%;
        /*    max-width: 100%;*/
        left: 10%;
        color: black;
        font-weight: bold;
        /*    font-size: 1.5em;*/
        /*    font-size: 2.5vh;*/
        font-size: 120%;
        letter-spacing: 0.0625em;
        font-family: "Trajan Pro", "Verdana", "Geneva", sans-serif;
        /*    text-shadow: 0 0 0.9em rgb(120, 120, 120);*/
    }
    .headerdesc {
        position: absolute;
        bottom: 5%;
        /*    max-width: 100%;*/
        color: #996600;
        font-weight: bold;
        /*    font-size: 0.875em;*/
        /*    font-size: 1.6vh;*/
        font-size: 72%;
        font-family: "Helvetica", "Verdana", "Geneva", sans-serif;
    }
    .headertitle:hover,
    .headersubtitle:hover,
    .headerdesc:hover {
        text-shadow: 0 0 0.9em #cccccc;
    }
    /*
--------------------------------------------------------------------------
The main part of the sidebar. Where selections by the user are made.
--------------------------------------------------------------------------
*/
    /*Probably I'll have to divide this part*/
    #databox {
        position: relative;
        display: block;
        top: 3.5em;
        left: 0;
        /*    bottom: 0;*/
        width: 100%;
        z-index: 10;
        
    }
    #databox_upper {
        position: relative;
        left: 0;
        width: 100%;
        z-index: 15;
        
    }
    #databox_bottom {
        position: relative;
        top: 1em;
        left: 0;
        width: 100%;
        z-index: 15;
        
    }
    .title {
        position: relative;
        text-align: left;
        font-weight: bold;
        color: black;
        /*    font-size: 1em;*/
        /*    font-size: 2vh;*/
        font-size: 90%;
        font-family: "Helvetica", "Verdana", "Geneva", sans-serif;
        letter-spacing: 0.0625em;
        line-height: 250%;
        /*padding-left: 0.3125em;*/
        top: 0;
        left: 10%;
        text-shadow: 0 0 10px #b4b4b4;
        z-index: 20;
    }
    .references {
        position: relative;
        font-size: 70%;
        top: 10%;
        padding-right: 3%;
        text-align: right;
        color: rgb(85, 85, 85);
        z-index: 30;
    }
    .references:hover {
        color: #996600;
    }
}


/*
--------------------------------------------------------------------------
Svg animation in the GeoHereditas name on the bottom of the sidebar:
--------------------------------------------------------------------------
*/

.svg-wrapper {
    position: absolute;
    top: 97.5%;
    left: 41%;
    height: 5%;
    margin: 3px auto;
    transform: translateY(-50%);
    width: 60%;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 300;
    stroke-dashoffset: -185;
    stroke-width: 1px;
    stroke: #996600;
}

.about {
    position: relative;
    top: -93%;
    text-align: center;
    line-height: 32px;
    font-weight: bold;
    color: black;
    /*    font-size: 0.8125em;*/
    /*        font-size: 1.4vh;*/
    font-size: 70%;
    letter-spacing: 0.0625em;
    font-family: "Trajan Pro", "Verdana", "Geneva", sans-serif;
    /*    z-index: 10;*/
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 6px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.5s draw linear forwards;
}

.about:hover {
    color: #996600;
}


/*
--------------------------------------------------------------------------
Tooltips texts
--------------------------------------------------------------------------
*/

.help-tip .tooltiptext {
    visibility: hidden;
    width: 80%;
    background-color: rgba(0, 42, 21, 0.77);
    font-size: 77%;
    font-weight: normal;
    letter-spacing: 0.0625em;
    line-height: 130%;
    font-family: "Helvetica", "Verdana", "Geneva", sans-serif;
    color: #fff;
    text-align: center;
    padding: 4px;
    border-radius: 2px;
    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 1%;
    /* Fade in tooltip */
    text-shadow: none;
    opacity: 0;
    transition: opacity 2s;
}


/*Circle to call the tooltip*/

.help-tip {
    display: inline-block;
    text-align: center;
    background-color: rgba(153, 102, 0, 0.36);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 17px;
    cursor: default;
}


/*Question mark on the circle*/

.help-tip:before {
    content: '?';
    font-weight: bold;
    color: rgb(0, 0, 0);
}


/* Show the tooltip text when you mouse over the tooltip container */

.help-tip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.help-tip:hover {
    background-color: rgba(0, 42, 21, 0.70);
}

.help-tip:hover:before {
    color: #fff;
}


/*
--------------------------------------------------------------------------
Close button at the city names
--------------------------------------------------------------------------
*/

.close::after {
    position: absolute;
    content: '\00d7';
    font-family: Garamond, "Apple Garamond";
    font-size: 200%;
    color: #900;
    opacity: 0.6;
    left: 88%;
    z-index: 35;
}


/*
--------------------------------------------------------------------------
Style for the white/grey lines of selection in the databox
--------------------------------------------------------------------------
*/

.whiteTRI,
.white {
    position: relative;
    text-align: left;
    color: #282828;
    /*  font-size: 0.875em;*/
    /*  font-size: 2vh;*/
    font-size: 85%;
    line-height: 250%;
    padding-left: 10%;
    margin: 0.125em 0 0.125em 0;
    border-color: white;
    left: 0;
    right: 0;
    height: 250%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 30;
}

.greyTRI,
.grey {
    position: relative;
    text-align: left;
    color: #282828;
    /*  font-size: 0.875em;*/
    /*  font-size: 2vh;*/
    font-size: 85%;
    line-height: 250%;
    padding-left: 10%;
    margin: 0.125em 0 0.125em 0;
    border-color: white;
    left: 0;
    right: 0;
    height: 250%;
    background-color: rgba(234, 234, 234, 0.7);
    z-index: 30;
}


.whiteinner {
    position: relative;
    text-align: left;
    color: #282828;
    /*  font-size: 0.875em;*/
    /*  font-size: 2vh;*/
    font-size: 85%;
    line-height: 250%;
    padding-left: 5%;
    margin: 0.125em 0 0.125em 0;
    border-color: white;
/*
    left: 0;
    right: 0;
*/
/*    height: 250%;*/
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 30;
}

.greyinner {
    position: relative;
    text-align: left;
    color: #282828;
    /*      font-size: 0.875em;*/
    /*      font-size: 2vh;*/
    font-size: 85%;
        line-height: 250%;
    padding-left: 5%;
    margin: 0.125em 0 0.125em 0;

    /*    margin: 0.125em 0 0.125em 0;*/
    border-color: white;
    /*    height: 250%;*/
    background-color: rgba(234, 234, 234, 0.7);
    z-index: 30;
}

.whiteTRI:hover,
.greyTRI:hover,
.white:hover,
.grey:hover {
    position: relative;
    text-align: left;
    color: #022715;
    /*  font-weight: bold;*/
    /*  font-size: 0.875em;*/
    /*  font-size: 2vh;*/
    font-size: 85%;
    margin: 0.125em 0 0.125em 0;
    border-color: white;
    left: 0;
    right: 0;
    height: 250%;
    background-color: rgba(144, 144, 144, 0.39);
    box-shadow: inset -0.3em 0 0 0 #004221;
    z-index: 30;
}

.selectedTRI,
.selected {
    position: relative;
    text-align: left;
    color: black;
    font-weight: bold;
    border-color: white;
    left: 0;
    right: 0;
    background-color: rgba(38, 145, 93, 0.35);
    box-shadow: inset -0.3em 0 0 0 #004221;
    z-index: 30;
}

.selectedTRI:hover,
.selected:hover {
    position: relative;
    text-align: left;
    color: black;
    font-weight: bold;
    /*    font-size: 0.875em;*/
    /*    line-height: 250%;*/
    border-color: white;
    left: 0;
    right: 0;
    background-color: rgba(38, 145, 93, 0.5);
    box-shadow: inset -0.3em 0 0 0 #004221;
    z-index: 30;
}


/*
--------------------------------------------------------------------------
Hiking trails list style
--------------------------------------------------------------------------
*/

#content-conteiner {
    position: relative;
}


/*Smartphones*/


/*
@media screen (max-device-width: 640px) {}
*/


/*Tablets*/


/*
@media (min-device-width: 641px) and (min-device-width: 1024px) {}
*/


/*Laptops*/

/*@media (min-device-width: 1025px) and (max-device-width: 1600px) {*/
@media (max-device-width: 1600px) {    
    .litoDrop-content {
        left: 17.0em;
        top: 22.8em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .relDrop-content {
        left: 17.0em;
        top: 24.0em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 215px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .carDrop-content {
        left: 17.0em;
        top: 8.8em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .ilbDrop-content {
        left: 17.0em;
        top: 11em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .ssbDrop-content {
        left: 17.0em;
        top: 13.3em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .ubtDrop-content {
        left: 17.0em;
        top: 15.5em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}


/*iMacs and TVs*/

@media (min-device-width: 1601px) {
    .litoDrop-content {
        left: 17.0em;
        top: 27.9em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .relDrop-content {
        left: 17.0em;
        top: 29.0em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 215px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .carDrop-content {
        left: 17.0em;
        top: 12.4em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .ilbDrop-content {
        left: 17.0em;
        top: 14.6em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .ssbDrop-content {
        left: 17.0em;
        top: 16.8em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
    .ubtDrop-content {
        left: 17.0em;
        top: 19.1em;
        display: none;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.88);
        min-width: 200px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }
}

.litoDrop-content a,
.relDrop-content a,
.carDrop-content a,
.ilbDrop-content a,
.ssbDrop-content a,
.ubtDrop-content a {
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    line-height: 70%;
}

.litoDrop-content a,
.relDrop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /*    line-height: 70%;*/
}

.sel-carDrop-content a,
.sel-ilbDrop-content a,
.sel-ssbDrop-content a,
.sel-ubtDrop-content a {
    /*    left: 17.5em;*/
    top: 26%;
    display: none;
    position: absolute;
    color: black;
    font-weight: bold;
    background-color: rgba(38, 145, 93, 0.35);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.litoDrop-content a:hover,
.relDrop-content a:hover,
.carDrop-content a:hover,
.ilbDrop-content a:hover,
.ssbDrop-content a:hover,
.ubtDrop-content a:hover,
.carDrop-content a:hover {
    background-color: rgba(38, 145, 93, 0.5);
}

.show {
    display: block;
}

a:link,
a:visited {
    color: inherit;
    text-decoration: none;
}



/*
--------------------------------------------------------------------------
Modal Window
--------------------------------------------------------------------------
*/

#modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
    animation: animatedBackground 4s linear;
}

@keyframes animatedBackground {
    0% {
        background: rgba(0, 0, 0, 0.9);
    }
    /*
50% {
background: rgba(0, 0, 0, 0.88);
}
*/
    100% {
        background: rgba(0, 0, 0, 0.8);
    }
}


.modalcontent {
    position: absolute;
    font-family: "Open Sans", "Helvetica", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    /*    border-radius: 1%;*/
    /*    -webkit-border-radius: 1%;*/
    /*    -moz-border-radius: 1%;*/
    width: 40em;
    height: 50.5%;
    padding: 0;
        box-shadow: 0 0 20px 1px rgba(111, 111, 111, 0.5);
/*    box-shadow: 0 0 20px 4px rgb(0, 0, 0);*/
    -webkit-animation: background-anim-slow 1s linear;
}

@keyframes background-anim-slow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.6;
    }
}

.modcont1 {
    position: fixed;
    text-align: center;
    letter-spacing: 0.02em;
    background-image: linear-gradient( rgba(0, 15, 66, 0.43),
    rgba(0, 5, 66, 0.78)), url(http://www.igc.usp.br/fileadmin/files/geohereditas/Fotos/BR101_MorroStoAntonio_red.jpg);
    background-position: center;
    background-size: cover;
    color: #fff;
    font-size: 150%;
    width: 100%;
    height: 53%;
}


.modcont2 {
    text-align: center;
    position: relative;
    color: #505050;
    vertical-align: top;
}


.modcont2 a:hover {
    color: #060239;
    text-shadow: 0 0 0.9em rgba(6, 6, 6, 0.31);
}


.img-circular1,
.img-circular2,
.img-circular3 {
    width: 9em;
    height: 9em;
    background-size: cover;
    display: inline-block;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    position: relative;
    margin: 12em 1.5em 0.5em 1.5em;

    /*    blur*/
    /*
-webkit-filter: blur(0.1em);
filter: blur(0.1em);
*/
    /*    grayscale*/
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    -webkit-backface-visibility: hidden;
    /*to avoid the ~1px shift in transitions*/
}

.img-circular1 {
    background-image: url('http://www.igc.usp.br/fileadmin/files/geohereditas/webmap_photo/CRG_TP_03.jpg');
}

.img-circular2 {
    position: relative;
    top: 1.5em;
    background-image: url('http://www.igc.usp.br/fileadmin/files/geohereditas/paineis_interpretativos/figpaineis/tb_07-cebimar.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-circular3 {
    background-image: url('http://www.igc.usp.br/fileadmin/files/geohereditas/sp_inventory/4.6.5.1.jpg');
}



.img-circular1:hover,
.img-circular2:hover {
    /*    grayscale*/
    -webkit-filter: grayscale(0);
    filter: grayscale(0);

    /*    zoom out*/
    -webkit-transform: scale(1.2);
    transform: scale(1.2);

    box-shadow: 0 0 15px 1px rgb(0, 0, 0);
    z-index: 20;
}


.modcont3 {
    position: fixed;
    width: 100%;
    bottom: 1em;
    text-align: center;
    color: #6d6d6d;
    font-weight: bold;
    font-size: 50%;
    font-family: "Trajan Pro", "Verdana", "Geneva", sans-serif;
    z-index: 1;
}



.logosvg {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-backface-visibility: hidden;
    /*to avoid the ~1px shift in transitions*/
    pointer-events: none;
}

/*
.modcont3 a:hover {
color: #060239;
text-shadow: 0 0 0.9em rgba(6, 6, 6, 0.31);
}

.logosvg:hover {
-webkit-filter: grayscale(0);
filter: grayscale(0);
-webkit-transform: scale(1.2);
transform: scale(1.2);
-webkit-transition: .2s ease-in-out;
transition: .2s ease-in-out;
}
*/

.modcont3:hover a {
    color: #060239;
    text-shadow: 0 0 0.9em rgba(6, 6, 6, 0.31);
}

.modcont3:hover .logosvg {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}